<style>
    .error {
        color: #ff0000;
    }
</style>

<div class="container" style="margin-top:30px;">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Sign in </strong>
                </h3>
            </div>

            <div class="panel-body">
                <form name="userForm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input type="text" name="fname" ng-model="user.fname" ng-maxlength="10" class="form-control" placeholder="First Name" tabindex="1"
                                    required>
                                <p class="error" ng-show="userForm.fname.$invalid && userForm.fname.$touched">Your First name is required.</p>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input type="text" name="mName" ng-model="user.mname" ng-maxlength="10" required class="form-control" placeholder="Middle Name"
                                    tabindex="1">
                                <p class="error" ng-show="userForm.mName.$invalid && userForm.mName.$touched">Your Middle name is required.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group">
                                <input type="text" name="lname" ng-model="user.lname" ng-maxlength="10" required class="form-control " placeholder="Last Name"
                                    tabindex="2">
                                <p class="error" ng-show="userForm.lname.$invalid && userForm.lname.$touched">Your Last Name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="dsplyName" ng-model="user.displayName" class="form-control" minlength="5" placeholder="Display Name"
                            tabindex="3" required>
                        <p class="error" ng-show="userForm.dsplyName.$error.required && userForm.dsplyName.$touched">Your Display Name is required.</p>
                        <p class="error" ng-show="userForm.dsplyName.$error.minlength">Display Name is too short!</p>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" ng-model="user.email" class="form-control" placeholder="Email Address" tabindex="4" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                            required>
                        <p class="error" ng-show="userForm.email.$error.required && userForm.email.$touched">Your Email is required.</p>
                        <p class="error" ng-show="userForm.email.$error.pattern">Please enter valid email address</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" tabindex="5"
                                    ng-minlength="6" required>
                                <div ng-if="userForm.password.$touched || signupSubmitted">
                                    <p class="error" ng-show="userForm.password.$error.required" class="help-block">Password is required</p>
                                    <p class="error" ng-show="userForm.password.$error.minlength" class="help-block">Minimum 6 character</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="confPassword" class="form-control" ng-model="user.confPassword" placeholder="Confirm Password"
                                    tabindex="6" match-password="user.password" required>
                                <div ng-if="userForm.confPassword.$touched || signupSubmitted">
                                    <p class="error" ng-show="userForm.confPassword.$error.required" class="help-block">Confirm password is required</p>
                                    <p class="error" ng-show="userForm.confPassword.$error.matchPassword" class="help-block">Confirm password didn't match</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" ng-disabled="userForm.$invalid">Sign in</button>

                </form>
            </div>
        </div>
    </div>
</div>